@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #181818;
}

#main {
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 0px 3px #d4d4d4;
}

.center {
    text-align: center;
}

.important {
    font-size: 1.5rem;
}

code {
    display: block;
    border-radius: 3px;
    padding: 5px 10px;
    background: rgb(206, 206, 206);
    font-size: 0.9rem;
    font-family: monospace;
}

a {
    font-family: monospace;
    text-decoration: none;
}